node_modules
.env
api/storage
api/tmp
web/node_modules
api/node_modules
dist
api/dist
web/dist
api/coverage
.docker-cache

# build
api/dist
web/dist
# envs
*.env
*.env.*
!/.env.example
!**/.env.example
!.env.development
!.env.production
